.blog, .article{
    position: relative;
    height: fit-content;
    padding-bottom: 0;
}

.article, .title{
    min-height: auto;
    height: fit-content;
    padding: 0 10px;
    white-space: normal;
}
/* 
.publishedAt{
    display: flex;
    font-weight: 400;
    font-style: normal;
    line-height: 20px;
    font-size: 15px;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
    /* padding-top: 12px; */
    /* background-color: slategray; 
}

.publishedAt span{
    font-weight: 500;
    margin-right: 10px;
    line-height: 20px;
    padding-left: 13px;
    /* background-color: slateblue; 
} */

.publishedAt{
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 15px;
    padding: 0 10px;
    text-transform: capitalize;
    font-style: italic;
    color: rgba(0, 0, 0, 0.5);
}

.publishedAt span{
    font-weight: 550;
    /* font-style: normal; */
}

.article *{
    margin: 30px 0;
    color: #2d2d2d;
}

.article-image{
    max-width: 100%;
    max-height: 400px;
    display: block;
    margin: 30px auto;
    object-fit: contain;
}

.sub-heading{
    padding: 0 5vw;
    border-top: 2px solid rgb(230, 230, 230);
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    color: #6d6d6d;
    font-weight: 500;
    font-size: 30px;
    margin-top: 200px;
    padding-top: 50px;
    padding-left: 200px;
}